# PlatformIO
.pio/

# Python
.venv/
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# SS-Project
certs/
.env
include/secrets.h
secrets/

mobile/app/src/main/res/raw/ca.crt
mobile/app/src/main/res/raw/mtls_keystore.p12
mobile/app/src/main/res/raw/mtls_truststore.p12

*.log
